In [2]:
import pandas as pd

#initialise data of lists,
data = {"name": ["precious", "stephanie", "olachi", "love"],
       "Age": [20, 21, 19, 18]}

#create Dataframe
df = pd.DataFrame(data)

#print the output
df

        name  Age
0   precious   20
1  stephanie   21
2     olachi   19
3       love   18

In [6]:
import pandas as pd
# define a dictionary containing employee data
data = {"Name":["clement", "sarah", "Karol", "Daphne"],
       "Age":[27, 14, 17, 20],
       "Address":["Abuja", "Ogun", "Lagos", "lekki"],
       "Qualification":["Msc","MA", "MCA", "Phd"]}

#convert the dictionary into dataframe
df = pd.DataFrame(data)

#select two coloumns
df[["Name", "Qualification"]]

      Name Qualification
0  clement           Msc
1    sarah            MA
2    Karol           MCA
3   Daphne           Phd